body{

	background-image: url("../img/fondo.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
	margin-top: 10px;
}
.margen-container{
	margin-top:3px;
	margin-right: 3px;
	border-radius: 5px;
	border-top: 3px;
	/*border-color: gray;*/

}
.margen-div{
	margin-top:10px;
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.botones-menu{
	padding-top: 1px;
	margin-top: 1px;
	border-style:solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: gray;
	text-align: center;
}
.favoritos-title{
	margin-top: 20px;
}
.favoritos-img{
	margin-left: 40px;
}
.user-img{
	width: 80%;

}
.div-foro{
	padding-top: 1px;
	margin-top: 3px;
	border-style:solid;
	border-width: 1px;
	border-radius: 5px;
	border-color: gray;
	text-align: center;
}
.img-platos{
	width: 95%;
	margin-left: 5px;
	margin-right: 5px;
}
.alinear{
	text-align: center;
}
